block vars
  - var lang = "en"
  - var title = "Title"
  - var description = "Site description"
doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    meta(name="description", content=description)
    block head
  body
    block body
